<div class="page-container">
  <h2>Monthly Payments</h2>

  <div class="totals-row">
    <div class="total-item total-all">
      Total: {{ totalPayments | currency }}
    </div>

    <div class="total-item total-paid">
      Paid: {{ totalPaid | currency }}
    </div>

    <div class="total-item total-unpaid">
      Unpaid: {{ totalUnpaid | currency }}
    </div>
  </div>

  <div class="month-nav-container">
    <div class="month-nav">
      <span class="label">Display Payments for:</span>
      <button mat-raised-button color="primary" (click)="goToPreviousMonthPayments()">
        <mat-icon>chevron_left</mat-icon>
        Previous
      </button>

      <span class="current-month">{{ currentMonth }}</span>

      <button mat-raised-button color="primary" (click)="goToNextMonthPayments()">
        Next
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="filters">
    <mat-checkbox [(ngModel)]="hideZeroPayments" (change)="applyFilters()">
      Remove $0 Payments
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="showOnlyUnpaid" (change)="applyFilters()">
      Show Only Unpaid
    </mat-checkbox>
  </div>  
  
  <mat-card>
    <div class="table-container mobile-table">
      <table mat-table [dataSource]="dataSource" matSort class="summary-table">

        <!-- Account Column -->
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
          <td mat-cell *matCellDef="let row">{{ row.Accounts?.name }}</td>
        </ng-container>

        <!-- Due Date Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
          <td mat-cell *matCellDef="let row">{{ row.month }}-{{ row.Accounts?.duedate }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row">{{ row.amount | currency:'USD':'symbol':'1.2-2' }}</td>
        </ng-container>

        <!-- Previous Month Column -->
        <ng-container matColumnDef="previous_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Month</th>
          <td mat-cell *matCellDef="let row">{{ row.previous_amount | currency:'USD':'symbol':'1.2-2' }}</td>
        </ng-container>

        <!-- Paid Column -->
        <ng-container matColumnDef="is_paid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid?</th>
          <td mat-cell *matCellDef="let row">
            <mat-slide-toggle [checked]="row.is_paid" (change)="togglePaid(row)">
            </mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [class.positive-bg]="row.is_paid"
            [class.negative-bg]="!row.is_paid && row.amount > 0">
        </tr>
      </table>
    </div>
  </mat-card>
  <!-- Add New -->
  <mat-card>
    <mat-card-title>Add Payment</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Account</mat-label>
          <mat-select formControlName="accountId" (selectionChange)="onAccountChange($event.value)">
            <mat-option *ngFor="let a of accounts" [value]="a.id">{{ a.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput formControlName="duedate" readonly>
        </mat-form-field>  
        
        <div class="month-nav">
          <mat-label>Month</mat-label>
          <button mat-raised-button color="primary" (click)="goToPreviousMonth()">
              <<
          </button>
          <input matInput formControlName="month" readonly [value]="currentMonth">
            
          <button mat-raised-button color="primary" (click)="goToNextMonth()">
              >>
          </button>
        </div>      
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount">
        </mat-form-field>  

        <button mat-raised-button color="primary" (click)="addPayment()">
          Add Payment
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>